* {
	margin: 0;
	padding: 0;
}
html {
	font-family: Arial, sans-serif;
	background: -webkit-linear-gradient(CornflowerBlue, LightCoral);
	height: 100%;
}

.copyright {
	font-style: italic;
}

h1 {
	margin-top: 50px;
}

div.position, h1 {
	margin-right: auto;
	margin-left: auto;
	width: 75%;
	border: 4px dashed black;
	text-align: center;
	background: yellow;
	padding-left: 10px;
	padding-right: 10px;
}

.position {
	padding: 25px 0 25px 0;
}

#intro {
	text-align: justify;
	padding: auto;
}

#page-wrap {
	list-style: none;
}

li::first-letter {
	font-weight: bold;
}